test/assets/modernizr.js
/tests/third_party/
/packages/*/lib/
/packages/playwright-core/src/generated/*
/packages/playwright-core/src/third_party/
/packages/playwright-core/types/*
/packages/playwright-ct-core/src/generated/*
/packages/playwright-core/bundles/utils/src/third_party/
/index.d.ts
node_modules/
browser_patches/
**/*.d.ts
output/
test-results/
tests/components/
tests/installation/fixture-scripts/
examples/
DEPS
.cache/
tests/assets/
